.cast .cont {
    align-items: center;
    position: relative;    
    overflow-x: scroll;
    width: 100%;
    padding: 20px 0;
    display: flex;
}


.container .card img {
    height: 70%;
}

.card p, .card h6{
    color: black;
}

.card{
    border: black;
}