<br>
<div class="container main-container animated fadeIn fast">
    <h1>{{ moviedetail.title }} <span>({{ moviedetail.release_date | date:"yyyy" }})</span></h1>   
    
    <div class="row">
        <div class="col-md-5">
            <img *ngIf="moviedetail.poster_path" class="img-thumbnail img-fluid prin"
            src="http://image.tmdb.org/t/p/w500{{ moviedetail.poster_path }}" class="img-fluid" alt="Responsive image" title="{{moviedetail.title}}">
            <img *ngIf="!moviedetail.poster_path"  style="height: 400px;" src="https://upload.wikimedia.org/wikipedia/en/6/60/No_Picture.jpg" class="card-img-top" alt="...">
        </div>

        <div class="col-md-7">
            <h3>Sinopsis</h3>
            <hr>
            <p class="text-justify">
                {{ moviedetail.overview }}
            </p>
            <br>
            <h5>famous phrase</h5>
            <p>
                {{ moviedetail.tagline }}.
            </p>
            <br>
         
            <p>
                Popularity: <span class="badge badge-primary">{{ moviedetail.popularity }}</span>
            </p>
            <p>
                Vote count: <span class="badge badge-warning">{{ moviedetail.vote_count }}</span>
            </p>
            <p>
                Vote average: <span class="badge badge-success">{{ moviedetail.vote_average }}</span>
            </p>
            <p>
                Original language: <span class="badge badge-secondary">{{ moviedetail.original_language }}</span>
            </p>
         
        </div>
    </div>
    <hr>
    <br>

    

    <div class="cast">
        <h3>Cast</h3>
            <div class="cont">
                <div class="container" *ngFor="let cast of casts; let i = index">
                    <div class="card" style="height: 400px; width: 200px;">
                        <img [routerLink]="['/person', cast.id]"
                             class="card-img-top puntero" 
                             *ngIf="cast.profile_path" 
                             src="http://image.tmdb.org/t/p/w500{{ cast.profile_path }}" alt="{{ cast.name }}">
                        <img  
                            class="card-img-top none" 
                            *ngIf="!cast.profile_path" 
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGrc06HR-Kr_Ru_R2-kHNeqVEhYJgCnzVluttNlO4xSKiREYvz" alt="Card image cap">
                        <div class="card-body">
                          <h6 class="card-title">{{ cast.name }}</h6>
                          <p class="card-text">{{ cast.character }}</p>
                        </div>
                    </div>
                </div>
            </div>                                                                                          
    </div>
<hr>
    <br>
    <div *ngIf="prcompany" class="prodcomp">
            <h4>Production Companies</h4>
            <br>
            <div class="row">
                <div class="mr-5 mt-5" *ngFor="let prcomps of prcompany">
                    <div class="card">
                    <img *ngIf="prcomps.logo_path" src="http://image.tmdb.org/t/p/w200{{ prcomps.logo_path }}">
                    <p *ngIf="prcomps.logo_path">{{ prcomps.name }}</p>
                    </div>
                </div>
            </div>
    </div>
    
    
    <hr>
    <br>
    <br>

    <div class="cast">
        <h3>Similar Movies</h3>
            <div class="cont">
                <div class="container" *ngFor="let similar of similars; let i = index">
                    <div class="card puntero" style="height: 400px; width: 200px;">
                        
                        <img [routerLink]="['/movie', similar.id]" 
                             class="card-img-top similar" 
                             *ngIf="similar.poster_path" 
                             src="http://image.tmdb.org/t/p/w500{{ similar.poster_path }}" alt="{{ similar.title }}" title="{{ similar.title }}">
                        <img  
                            class="card-img-top none similar" 
                            *ngIf="!similar.poster_path" 
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGrc06HR-Kr_Ru_R2-kHNeqVEhYJgCnzVluttNlO4xSKiREYvz" alt="Card image cap">                    
            
                    </div>
                    <h5>{{similar.title}}</h5>
                </div>
            </div>                                                                                          
    </div>


</div>
