p{
    font-size: 20px;
}

i{
    font-size: 20px;
}

.cast .cont {
    align-items: center;
    position: relative;    
    overflow-x: scroll;
    width: 100%;
    padding: 20px 0;
    display: flex;
}


.container .card img {
    height: 70%;
}

.card p, .card h6{
    color: black;
}

.container .card  .similar {
    height: 100%;
}

.card{
    border: black;
    margin-bottom: 5px;
}