footer {
  padding-top:30px;
  padding-bottom: 20px;
  display: grid;
  background-color: rgb(24, 24, 24);
  grid-template-columns: repeat(2, 1fr);
  
  
}

footer h5 {
  font-size: 27px;
  font-weight: 300;
  justify-self: center;
}

footer span {
  font-weight: 500;
  color: lawngreen;
}