
<app-carousel-tvshow></app-carousel-tvshow>
<br>
<br>
<div class="content animated fadeIn fast">

    <div class="titles row">
        <br>
        <h1 class="col-10">On TV</h1>

        <button routerLink="/searchtvshow" 
        class="btn btn-outline-success col-2" 
        type="submit">Search Tv show</button>
        
    </div>
    <div class="cast">
        
        <div class="cont">
            <div class="container" *ngFor="let tvshow of tvShows; let i = index">
                <div class="card puntero" style="height: 100%; width: 18rem;">
                    
                    <img [routerLink]="['/tvshow', tvshow.id]" 
                         class="card-img-top similar" 
                         *ngIf="tvshow.poster_path" 
                         src="http://image.tmdb.org/t/p/w500{{ tvshow.poster_path }}" alt="{{ tvshow.name }}" title="{{ tvshow.name }}">
                    <img  
                        class="card-img-top none movies" 
                        *ngIf="!tvshow.poster_path" 
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGrc06HR-Kr_Ru_R2-kHNeqVEhYJgCnzVluttNlO4xSKiREYvz" alt="Card image cap">                    
        
                </div>
                <h5>{{tvshow.name}}</h5>
            </div>
        </div> 
    </div>

    <br><br><br><br><br><br><br>
    <div class="cast">
        <h1>Populars</h1>
        <div class="cont">
            <div class="container" *ngFor="let tvpopular of tvpopulars; let i = index">
                <div class="card puntero" style="height: 100%; width: 18rem;">
                    
                    <img [routerLink]="['/tvshow', tvpopular.id]" 
                         class="card-img-top similar" 
                         *ngIf="tvpopular.poster_path" 
                         src="http://image.tmdb.org/t/p/w500{{ tvpopular.poster_path }}" alt="{{ tvpopular.name }}" title="{{ tvpopular.name }}">
                    <img  
                        class="card-img-top none movies" 
                        *ngIf="!tvpopular.poster_path" 
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGrc06HR-Kr_Ru_R2-kHNeqVEhYJgCnzVluttNlO4xSKiREYvz" alt="Card image cap">                    
        
                </div>
                <h5>{{tvpopular.name}}</h5>
            </div>
        </div> 
    </div>


    <br><br><br><br><br><br><br>
    <div class="cast">
        <h1>Top Rated</h1>
        <div class="cont">
            <div class="container" *ngFor="let toprated of toprateds; let i = index">
                <div class="card puntero" style="height: 100%; width: 18rem;">
                    
                    <img [routerLink]="['/tvshow', toprated.id]" 
                         class="card-img-top similar" 
                         *ngIf="toprated.poster_path" 
                         src="http://image.tmdb.org/t/p/w500{{ toprated.poster_path }}" alt="{{ toprated.name }}" title="{{ toprated.name }}">
                    <img  
                        class="card-img-top none movies" 
                        *ngIf="!toprated.poster_path" 
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGrc06HR-Kr_Ru_R2-kHNeqVEhYJgCnzVluttNlO4xSKiREYvz" alt="Card image cap">                    
        
                </div>
                <h5>{{toprated.name}}</h5>
            </div>
        </div> 
    </div>
</div>

