<section class="form">
  <div class="form-content">
    <div class="titles">
      <h1>Login</h1>
      <p>Login to rate your favorite movies & Tv Shows!</p>      
    </div>
    <div class="form-inputs">
      <br>
      <label>Email Adress</label>
      <input type="text" class="text" placeholder="Email">
      <label>Password</label>
      <input type="text" class="text" placeholder="Password">
      <p>Don't you have an account?  <a href="">  Sign Up!</a></p>
      <input type="button" class="button" value="Login">
    </div>
  </div>
</section>