
<section class="container-fluid bg-dark animated fadeIn fast">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <form class="form-container bg-dark">
                <div class="form-group">
                  <h2>Login</h2>
                  <br>
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <hr>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  <br>
                  <br>
                  <p>Don't have an account? <a class="puntero" href="#">Sign up</a></p>                  
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
    </section>
</section>