<div class="container animated fadeIn fast">

<br>
<h1>Popular</h1>
<hr>
<div class="row" >
    <div class="card" style="width: 18rem;" *ngFor="let popular of populars">
        <a [routerLink]="['/movie', popular.id]">
            <img *ngIf="popular.poster_path" src="http://image.tmdb.org/t/p/w500{{ popular.poster_path }}" class="card-img-top" alt=".. ." title="{{popular.title}}">
            <img *ngIf="!popular.poster_path"  style="height: 400px;" src="https://upload.wikimedia.org/wikipedia/en/6/60/No_Picture.jpg" class="card-img-top" alt="...">
        </a>
    </div>
</div>
</div>
