<div class="container main-container animated fadeIn fast">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h2>Search</h2>
                <br>
                <input [(ngModel)]="search"
                       name="search"
                       (keyup.enter)="searchMovie()"
                       placeholder="Search a Movie and press enter"
                       class="form-control"
                       type="text">
            </div>
        </div>

        <div class="card-columns">
                <div class="card puntero" *ngFor="let movie of movieService.movies" [routerLink]="['/movie', movie.id]" routerLinkActive="router-link-active" >
                  <img src="http://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.overview | slice:0:200 }}...</p>
                  </div>
                </div>
        </div>
    </div>
</div>