
<app-carousel>
  
</app-carousel>

<br>
<br>
<div class="container animated fadeIn fast">
    <br>
    <div class="titles">
        
        <button routerLink="/search" 
        class="btn btn-outline-success col-mr-2" 
        type="submit">
        Search Movie
       </button>
       
       <h1>Now Playing</h1>
    </div>
    
    
    <hr>
    <div class="row">
       <div 
       class="card" style="width: 18rem;" *ngFor="let movie of movies">
           <a [routerLink]="['/movie', movie.id]">
               <img *ngIf="movie.poster_path" style="height: 400px;" src="http://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="..." title="{{movie.title}}">
               <div *ngIf="!movie.poster_path">
                   <img  style="height: 400px;" src="https://upload.wikimedia.org/wikipedia/en/6/60/No_Picture.jpg" class="card-img-top" alt="...">
                   <p>{{movie.title}}</p>
               </div>
           </a>
        </div>
    </div>
    
    
    
</div>
<br>
<app-footer class="animated fadeIn low"></app-footer>