<section class="form">
  <div class="form-content">
    <div class="titles">
      <h1>Sign up</h1>
      <p>Sign Up to rate your favorite movies & Tv Shows!</p>      
    </div>
    <div class="form-inputs">
      <br>
      <label>Email Adress</label>
      <input type="text" class="text" placeholder="Email">
      <label>Password</label>
      <input type="text" class="text" placeholder="Password">
      <p>Do you have an account?  <a href="">Login</a></p>
      <input type="button" class="button" value="Sing Up">
    </div>
  </div>
</section>